html { height: 100%; width: 100%; font-family: 'Heiti SC', 'Microsoft YaHei'; font-size: 0px; outline: 0; -webkit-text-size-adjust:none;}
body { height: 100%; margin: 0; -webkit-user-select: none; position: relative;}
.d1{width: 7.5rem;height: 1rem;background-color: aquamarine;}
