/*清除input默认样式*/
input[type=number] { -moz-appearance:textfield; }  
input[type=number]::-webkit-inner-spin-button,  
input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none;  margin: 0; }  

body{
	/*display: none;*/
}
.content{
	width: 100%;max-width: 1920px;
	margin: 0 auto;
	font-family: "微软雅黑","microsoft yahei";
	overflow: hidden;
}
.banner{
	position: relative;
	width: 100%;
	height: 611px;
	background-image: url(../images/banner.png);
	background-position: center 0;
	overflow: hidden;
}
.ban_join{
	width: 140px;
	height: 140px;
	margin: 469px auto 0;
	background-image: url(../images/ban_join.png);
	font-size: 22px;
	color: #FFFFFF;
	text-align: center;
	line-height: 140px;
}
/*cont1*/
.cont1{
	width: 100%;
	height: 1327px;
	background: url(../images/cont1.png) no-repeat center 0/1920px 100%;
	overflow: hidden;
	color: #FFFFFF;
}
.cont1 .cont_title{
	margin: 20px 0 25px;
	text-align: center;
}
.cont_stit{
	font-size: 18px;
	color: #FFFFFF;
}
.act_rule_btn{
	padding: 2px 14px;
	margin-left: 10px;
	background: #427ecc;
	border-radius: 11px;
	font-size: 13px;
	cursor: pointer;
	transition: .3s;
}
.act_rule_btn:hover{
	padding: 5px 20px;
	font-size: 16px;
}
.prize{
	width: 835px;
	height: 361px;
	box-sizing: border-box;
	padding: 0 70px;
	margin: 0 auto 50px;
	background-image: url(../images/prize_bg.png);
	overflow: hidden;
}
.prize_box{
	float: left;
	width: 50%;
	height: 100%;
	text-align: center;
}
.pri1_img{
	margin: 103px 0 0 -50px;
}
.pri1_h1{
	margin-top: 120px;
	font-size: 32px;
}
.pri1_p{
	margin: 5px 0 15px;
	font-size: 20px;
}
.pri1_btn{
	width: 247px;
	height: 52px;
	border-radius: 26px;
	font-size: 25px;
	color: #FFFFFF;
	background-color: #386ec3;
	background: linear-gradient(#427ecc, #11269a);
	transition: .3s;
	outline: 0;
}
.pri1_btn:hover{
	width: 265px;
	background: linear-gradient(#11269a, #427ecc);
}
.pri1_btn:active{
	transition: .1s;
	-ms-transform: scale(.9);
	transform: scale(.9);
}
.pri_sh1{
	margin: 60px 0 -5px;
	font-size: 30px;
}
.pri_h1{
	font-size: 32px;
}
.pri_diaring{
	margin: 0 8px -7px 0;
}
.pri_p{
	margin-bottom: 10px;
	font-size: 20px;
}
.pri4_img{
	margin-top: -10px;
}
/*cont2*/
.cont2{
	width: 100%;
	height: 1301px;
	background: url(../images/cont2.png) no-repeat center 0/1920px 100%;
	overflow: hidden;
}
.actcase{
	margin: 30px auto;
	width: 1031px;
	height: 281px;
	box-sizing: border-box;
	padding: 95px 48px 0 228px;
	background-image: url(../images/actcase.png);
	font-size: 16px;
	color: #363636;
}
.actcase_p{
	margin: 20px 0 15px;
}
.actcase_p>span{
	font-size: 18px;
	color: #427ecc;
}
.advantage{
	width: 1047px;
	margin: 65px auto 0;
	overflow: hidden;
	text-align: center;	
}
.adv_box_left{
	float: left;
	width: 430px;
	margin-top: 66px;
	color: #FFFFFF;
}
.adv_box_p{
	font-size: 20px;
}
.adv_box_img{
	margin: 15px 0 25px;
}
.adv_box_right{
	position: relative;
	float: left;
	width: 581px;
	height: 293px;
	background: url(../images/table.png);
}
.adv_box_sign{
	position: absolute;
	top: 20px;
	left: 274px;
	font-size: 15px;
	color: #427ecc;
	line-height: 16px;
}
.adv_box_right table th{
	height: 74px;
	font-size: 31px;
	color: #FFFFFF;
}
.adv_box_right table td{
	height: 72px;
	font-size: 25px;
	color: #161514;
}
.news .cont_title{
	margin: 65px 0 15px;
	text-align: center;
}
.news_box{
	width: 1085px;
	margin: 30px auto 0;
	overflow: hidden;
}
.news_det{
	float: left;
	width: 333px;
	margin: 0 10px;
	border-radius: 20px;
	overflow: hidden;
}
.news_det>img{
	display: block;
}
.news_text{
	height: 176px;
	box-sizing: border-box;
	padding: 0 18px 0 20px;
	background: #FFFFFF;
	overflow: hidden;
	font-size: 16px;
	color: #262626;
	text-align: justify;
}
.news_text>h2{
	margin: 15px 0 5px;
	font-size: 27px;
	color: #427ecc;
}
/*cont3*/
.cont3{
	position: relative;
	width: 100%;
	height: 526px;
	background: url(../images/cont3.png) no-repeat center 0/1920px 100%;
}
.user_info{
	position: absolute;
	top: 95px;
	left: 50%;
	width: 440px;
	margin-left: -525px;
	color: #ffffff;
	text-align: center;
}
.user_info>h1{
	margin-bottom: 15px;
	font-size: 43px;
}
.user_info_box{
	overflow: hidden;
}	
.user_info_box>img{
	float: left;
	display: block;
	margin: 0 3px 6px 11px;
}	
.user_info_box>input{
	float: left;
	width: 347px;
	height: 60px;
	box-sizing: border-box;
	padding-left: 22px;
	border: 0;
	font-size: 21px;
}	
.user_info .tips{
	margin: 10px 0 20px;
	font-size: 16px;
}
.user_info .pri1_btn{
	border: 0;
	cursor: pointer;
}
/*活动规则*/
.rulesbox{
	display: none;
	position: fixed;
    left: 0;
    top: 0;
    z-index: 999999;
	width: 100%;
    height: 100%;
    font-family: "微软雅黑","microsoft yahei";
    font-size: 16px;
    color: #343434;
    line-height: 1.6em;
}
.rulesbox_cont{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1000px;
	box-sizing: border-box;
    margin: -300px 0 0 -500px;
    overflow: hidden;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    color: #565656;
    height: 0px;
    height: 584px;
}
.rulesbox_tit{
	height: 54px;
	background-color: #e7e7e7;
    font-size: 22px;
    text-align: center;
    line-height: 54px;
}	
.rulesbox_close{
	position: absolute;
    right: 22px;
    top: 9px;
    padding: 5px 10px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}
.rulesbox_close:hover{
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}
.rulesbox_close:active{
	-ms-transform: scale(.8);
	transform: scale(.8);
}
.rulesbox_details{
    overflow: auto;
    height: 470px;
    padding: 0 52px 24px;
    font-size: 16px;
}
.rdet_p{
	margin-top: 15px;
}
.rdet_tit{
	font-size: 17px;
	font-weight: bold;
}
.rdet_stit{
	font-size: 16px;
	font-weight: bold;
}
.rulesbox table{
	width: 917px;
	margin: 25px auto 0;
}
.rulesbox table th,.rulesbox table td{
	height: 46px;
	background: #f9f9f9;
	border: 1px solid #eeeeee;
	font-size: 16px;
}
.rulesbox table th{
	background: #efefef;
}
.rulesbox table td{
	text-align: center;
}
.rulesbox table th:nth-child(2n){
	background: #e3e3e3;
}
.rulesbox table td:nth-child(2n){
	background: #ffffff;
}
.col_red{
	color: #ff0000;
}
/*右边悬浮客服*/
.server{
	display: none;
	position: absolute;
	top: 165px;
	right: 20px;
	width: 158px;
	height: 315px;
	background-image: url(../images/server_bg.png);
}
.server_btn{
	display: block;
	width: 110px;
	height: 26px;
	margin: 275px auto 0;
	border-radius: 26px;
	font-size: 12px;
	color: #590000;
	background-color: #feead8;
	background: linear-gradient(#feead8, #d6a678);
	transition: .3s;
	outline: 0;
}
.server_btn:hover{
	width: 120px;
	background: linear-gradient(#d6a678, #feead8);
}
.server_btn:active{
	transition: .1s;
	-ms-transform: scale(.9);
	transform: scale(.9);
}
/*立即申请成功弹窗提示*/
#succTipMask{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.3);
	z-index: 999999;
}
.succ_tip{
	position: relative;
	top:110px;
	width: 644px;
	height: 400px;
	margin: 0 auto;
	background: #FFFFFF;
	box-shadow: 1px 2px 24px 2px rgba(0,0,0,.3);
	overflow: hidden;
	text-align: center;
}
.succ_tip h1{
	margin-top: 80px;
	font-size: 40px;
	color: #ba292e;
}
.succ_tip img{
	position: relative;
	top: 9px;
}
.succ_tip p{
	font-size: 24px;
	color: #3a3a3a;
}
.succ_tip button{
	width: 217px;
	height: 41px;
	margin: 60px auto 0;
	background: #c5393e;
	border:none;
	outline: 0;
	font-size: 18px;
	color: white;
	text-align: center;
	line-height: 41px;
}
.succ_tip button:hover{
	background: #ab262a;
}